NODE_ENV=development
PORT=4000
DATABASE_URL="mysql://root:@localhost:3306/resources_management_app"
JWT_ACCESS_SECRET=8dxhVIV+hCknWuBmw4DUp+dxDxZXHeHrWuNi4NhMxv4=
JWT_REFRESH_SECRET=COz8uodYEfnlZX3DfPbKli6CVhGbc0VErm7B2/LD9J4=
CORS_ORIGINS=http://localhost:3000